@model IEnumerable<OdeToFood.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
    var firstReview = Model.First();
}

@*@firstReview.Name*@

@section featured
{
    We are showing the latest @Model.Count() reviews.
}

<h2>Latest Reviews</h2>


@*@VirtualPath*@

@foreach (var item in Model)
{
    @Html.Partial("_Review", item)
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
