.review {
    padding: 2px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

    .review h4 {
        color: maroon;
        padding: 5px;
        background: #cccc99;
    }

    .review p {
        font-size: .8em;
    }
